{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 75,
  "tabWidth": 2,
  "pluginSearchDirs": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "never",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    }
  ]
}
